@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --primary-color: #553311;
  --secondary-color: #996633;
  --background-color: #ffeead;
  --text-color: #332211;
  --font-family: "Roboto", sans-serif;
  --font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  margin: 0;
  letter-spacing: 0.03em;
  word-spacing: 0.1em;
  line-height: 1.6;
  background-image: url("../assets/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adding shadow */
  margin-bottom: 25px;
  width: 100%;
}

section {
  padding: 0 5rem;
  text-align: center;
  margin: auto;
  align-content: center;
  justify-content: center;
  margin-top: 12rem !important;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a:hover {
  transform: scale(0.95);
  transition: transform 0.07s ease;
}

footer {
  color: #fff;
  padding: 20px 0;
  text-align: center;
  bottom: 0;
  position: absolute;
  left: 0;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-bottom {
  margin-top: 20px;
  padding-top: 10px;
  width: 100%;
  max-width: 100%;
  font-size: 14px;
}

.footer-bottom p {
  margin: 0;
  color: var(--primary-color);
}

.btn-primary,
.btn-secondary {
  color: var(--background-color);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
}

.btn-primary:not(.active),
.btn-secondary:not(.active) {
  color: var(--background-color);
  cursor: default;
}

.btn-primary:not(.active) {
  background-color: var(--secondary-color);
}

.btn-secondary:not(.active) {
  background-color: white; /* TODO: define this color*/
}

.btn-primary.active:hover,
.btn-secondary.active:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease;
}

.btn-primary.active:active,
.btn-secondary.active:active {
  transform: scale(0.95);
  transition: transform 0.07s ease;
}

.container {
  max-width: 100%;
  margin: auto;
  text-align: center;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}
